name: Lint

on:
  push:
    branches: 
      - develop
  pull_request:

jobs:
  swiftline:
    name: SwiftLint
    runs-on: macos-13
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4
      - name: Swiftlint
        run: sh ./scripts/swiftlint.sh